Repository DCjanus/rdbinsight: changes, and which Codecov flags are due for each by the changed paths.
All: parser, source, report

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70
    patch: off

ignore:
  - "src/bin/**"
  - "tests/**"
  - "examples/**"
  - "docs/**"

comment:
  layout: "header, diff, flags, components"

github_checks:
  annotations: true 

component_management:
  individual_components:
    - component_id: component_parser
      name: "parser"
      paths:
        - "src/parser/**"
      statuses:
        - type: project
          target: 90
    - component_id: component_source
      name: "source"
      paths:
        - "src/source/**"
      statuses:
        - type: project
          # Temporarily lower coverage target for `source`.
          # TODO: Add testcontainers-based Redis Cluster & Codis integration tests and raise this to 80.
          target: 45
    - component_id: component_report
      name: "report"
      paths:
        - "src/report/**"
      statuses:
        - type: project
          # Temporarily lower coverage target while Parquet output is covered by integration tests.
          # TODO: Add integration tests covering Parquet output and raise this to 75.
          target: 60

refactor(merge): remove unused input count variable in merge function
  src/output/parquet/merge.rs
Due: none

feat(parquet): add design and implementation plan for unified chunked LZ4 run file and k-way merge iterator
  .ai_code/design.md
  .ai_code/plan.md
Due: none

feat(sort_merge): implement SortMergeIterator for k-way merging with error handling and add unit tests
  .ai_code/plan.md
  src/helper.rs
  src/helper/sort_merge.rs
Due: none

refactor(parquet): remove unused GroupedMergeIterator and HeapItem structures from report generation
  src/output/parquet/merge.rs
  src/report/parquet.rs
Due: report

feat(parquet): implement SortableRecord and RunRecordIter for sorting and iterating records in merge process
  .ai_code/plan.md
  src/output/parquet/merge.rs
Due: none

refactor(parquet): replace BinaryHeap with SortMergeIterator in merge process and remove unused HeapItem structure
  .ai_code/plan.md
  src/output/parquet/merge.rs
Due: none

feat(parquet): implement unified chunked LZ4 run file handling in ParquetChunkWriter
  .ai_code/plan.md
  src/output/parquet/mod.rs
  src/output/parquet/output.rs
  src/output/parquet/run_lz4.rs
Due: none

feat(parquet): implement ChunkedRunReader for handling chunked LZ4 run files and update merge process
  .ai_code/plan.md
  src/output/parquet/merge.rs
  src/output/parquet/mod.rs
  src/output/parquet/run_lz4.rs
Due: none

feat(parquet): update implementation plan and complete verification steps for unified chunked LZ4 run file handling
  .ai_code/plan.md
  src/output/parquet/run_lz4.rs
Due: none

feat(parquet): remove design and plan documents for unified chunked LZ4 run file handling
  .ai_code/design.md
  .ai_code/plan.md
Due: none

refactor(sort_merge): remove obsolete test for error propagation during replenish in SortMergeIterator
  src/helper/sort_merge.rs
Due: none

chore(codecov): lower coverage target from 60 to 50 temporarily while integrating tests for Parquet output
  codecov.yml
Due: none

refactor(parquet): simplify chunk reader initialization in MergeContext by removing redundant lines
  src/output/parquet/merge.rs
Due: none

refactor(parquet): update RunChunkReader to implement Iterator trait and improve error handling
  src/output/parquet/merge.rs
  src/output/parquet/run_lz4.rs
Due: none

feat(parquet): unify chunked LZ4 run file and generic k-way merge over Ord items (#35)
  codecov.yml
  src/helper.rs
  src/helper/sort_merge.rs
  src/output/parquet/merge.rs
  src/output/parquet/mod.rs
  src/output/parquet/output.rs
  src/output/parquet/run_lz4.rs
  src/report/parquet.rs
Due: report

refactor(parquet): optimize prefix aggregation and deduplication logic
  src/report/parquet.rs
Due: report

refactor(parquet): enhance deduplication logic in prefix aggregation
  src/report/parquet.rs
Due: report

refactor(report): enhance PrefixAggregate struct and update test expectations
  src/report/model.rs
  src/report/parquet.rs
Due: report

fix(parquet): correct error message for missing 'rdb_size' field in parquet file
  src/report/parquet.rs
Due: report

refactor(parquet): improve sorting and add invariants in deduplication logic
  src/report/parquet.rs
Due: report

fix(parquet): correct total_size invariant in deduplication logic
  src/report/parquet.rs
Due: report

fix(parquet): enhance assertions in deduplication logic
  src/report/parquet.rs
Due: report

fix(parquet): improve error messages in deduplication assertions
  src/report/parquet.rs
Due: report

test(parquet): add unit tests for deduplication invariants
  src/report/parquet.rs
Due: report

fix(report): deduplicate top prefixes in ParquetReportProvider and enforce invariants (#36)
  src/report/model.rs
  src/report/parquet.rs
Due: report

refactor(parquet): change run_file to Option and manage file creation with take_run_file method
  src/output/parquet/output.rs
Due: none

feat(parquet): add inited_run_file flag to manage run file initialization
  src/output/parquet/output.rs
Due: none

fix(parquet/output): lazy-create run file (use Option<File>) and defer file open for chunk/index writes (#37)
  src/output/parquet/output.rs
Due: none

chore(release): bump version to 0.1.0-rc.4 and update CHANGELOG
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): update dependencies in Cargo.lock
  Cargo.lock
Due: none

docs: update README files to include new CI badge and change TODO section
  README.md
  README.zh_CN.md
Due: none

docs: update TODO section in README files to include integration test migration
  README.md
  README.zh_CN.md
Due: none

chore(release): bump version to 0.1.0-rc.4 and update CHANGELOG (#38)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  README.zh_CN.md
Due: none

refactor(parser): simplify SetIntSetRecordParser and introduce IntSetInnerParser
  src/parser/record/set.rs
Due: parser

chore(changelog): update CHANGELOG to document fix for LZF-compressed IntSet strings handling
  CHANGELOG.md
Due: none

fix(set): handle LZF-compressed IntSet correctly (#39)
  CHANGELOG.md
  src/parser/record/set.rs
Due: parser

chore: document LZF-encoded RDB string support in CHANGELOG
  CHANGELOG.md
  src/parser/record/function.rs
Due: parser

refactor(parser): simplify Function2RecordParser by replacing remain with StringEncodingParser
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(parser): support LZF-encoded RDB strings and refactor Function2RecordParser (#40)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/parser/record/function.rs
Due: parser

feat(report): add progress logs and significant-prefix discovery; extract format
  src/bin/rdbinsight.rs
  src/helper.rs
  src/report/parquet.rs
Due: report
