Repository DCjanus/rdbinsight: changes, and which Codecov flags are due for each by the changed paths.
All: parser, source, report

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70
    patch: off

ignore:
  - "src/bin/**"
  - "tests/**"
  - "examples/**"
  - "docs/**"

comment:
  layout: "header, diff, flags, components"

github_checks:
  annotations: true 

component_management:
  individual_components:
    - component_id: component_parser
      name: "parser"
      paths:
        - "src/parser/**"
      statuses:
        - type: project
          target: 90
    - component_id: component_source
      name: "source"
      paths:
        - "src/source/**"
      statuses:
        - type: project
          # Temporarily lower coverage target for `source`.
          # TODO: Add testcontainers-based Redis Cluster & Codis integration tests and raise this to 80.
          target: 45
    - component_id: component_report
      name: "report"
      paths:
        - "src/report/**"
      statuses:
        - type: project
          # Temporarily lower coverage target while Parquet output is covered by integration tests.
          # TODO: Add integration tests covering Parquet output and raise this to 75.
          target: 60

ci(parser): require complete benchmark artifacts
  .github/workflows/parser-benchmark-comment.yml
Due: none

ci(parser): report benchmark comparisons in PRs (#75)
  .github/actions/parser-benchmark/index.js
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
  benches/parser.rs
Due: none

test: broaden parser benchmark encodings
  .github/actions/parser-benchmark/index.js
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
  benches/parser.rs
  src/record.rs
Due: none

fix: use redis integer string byte order
  .github/actions/parser-benchmark/index.js
  benches/parser.rs
  src/parser/core/combinators.rs
  src/parser/core/raw.rs
Due: parser

fix: parse encoded integers as signed
  benches/parser.rs
  src/parser/core/raw.rs
  src/parser/runtime/combinators/rdb_str_box.rs
Due: parser

fix: reject trailing data after rdb eof
  src/record.rs
Due: none

ci: include benchmark comment links
  .github/actions/parser-benchmark/index.js
Due: none

ci: benchmark base with current cases
  .github/actions/parser-benchmark/index.js
Due: none

perf(parser): broaden and guard parser benchmarks
  .github/actions/parser-benchmark/index.js
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
  benches/parser.rs
  src/parser/record/array.rs
  src/parser/record/hash.rs
  src/parser/record/string.rs
Due: parser

perf(parser): reduce quicklist node overhead
  src/parser/record/list.rs
Due: parser

ci(parser): shard parser benchmark jobs
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
Due: none

ci(parser): lengthen benchmark measurement window
  .github/workflows/ci.yml
Due: none

ci(parser): aggregate sharded benchmark summaries
  .github/actions/parser-benchmark/index.js
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
Due: none

ci(parser): tune benchmark measurement window
  .github/workflows/ci.yml
Due: none

ci(parser): use flat benchmark sampling
  .github/workflows/ci.yml
  benches/parser.rs
Due: none

fix(ci): make benchmark comments artifact-driven
  .github/workflows/parser-benchmark-comment.yml
Due: none

fix(ci): make benchmark comments artifact-driven (#76)
  .github/workflows/parser-benchmark-comment.yml
Due: none

perf(parser): tighten benchmark regression handling
  .agents/skills/parser-performance-regression/SKILL.md
  .agents/skills/parser-performance-regression/agents/openai.yaml
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
  src/parser/record/hash.rs
  src/parser/record/list.rs
  src/parser/record/set.rs
Due: parser

ci: exclude benchmarks from coverage
  .github/workflows/ci.yml
  codecov.yml
Due: none

perf(parser): streamline boxed container init
  src/parser/record/hash.rs
  src/parser/record/list.rs
  src/parser/record/set.rs
  src/parser/record/zset.rs
  src/parser/runtime/combinators/rdb_str_box.rs
Due: parser

perf(parser): use ziplist header count fast path
  src/parser/record/list.rs
Due: parser

fix(ci): keep benchmark summaries on shard failure
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
  src/parser/record/list.rs
Due: parser

fix(ci): fail benchmark feedback on missing rows
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
Due: none

refactor(parser)!: introduce two-phase parser runtime (#62)
  .agents/skills/parser-performance-regression/SKILL.md
  .agents/skills/parser-performance-regression/agents/openai.yaml
  .github/actions/parser-benchmark/index.js
  .github/workflows/ci.yml
  .github/workflows/parser-benchmark-comment.yml
  benches/parser.rs
  codecov.yml
  src/parser/core/buffer.rs
  src/parser/core/combinators.rs
  src/parser/core/mod.rs
  src/parser/core/parse.rs
  src/parser/core/raw.rs
  src/parser/core/view.rs
  src/parser/mod.rs
  src/parser/rdb_file.rs
  src/parser/record/array.rs
  src/parser/record/function.rs
  src/parser/record/hash.rs
  src/parser/record/list.rs
  src/parser/record/module.rs
  src/parser/record/set.rs
  src/parser/record/stream.rs
  src/parser/record/string.rs
  src/parser/record/zset.rs
  src/parser/runtime/combinators.rs
  src/parser/runtime/combinators/rdb_str_box.rs
  src/parser/runtime/combinators/reduce.rs
  src/parser/runtime/combinators/seq.rs
  src/parser/runtime/combinators/skip_bytes.rs
  src/parser/runtime/combinators/varint.rs
  src/parser/runtime/lzf.rs
  src/parser/runtime/mod.rs
  src/parser/state/combinators/skip_bytes.rs
  src/parser/state/combinators/varint.rs
  src/parser/state/traits.rs
  src/record.rs
  tests/parser_test.rs
Due: parser

fix(parser): read zipmap large lengths as little-endian
  .github/workflows/publish-test-images.yml
  src/parser/record/hash.rs
  tests/common/setup.rs
  tests/parser_test.rs
Due: parser

fix(parser): read zipmap large lengths as little-endian (#77)
  .github/workflows/publish-test-images.yml
  src/parser/record/hash.rs
  tests/common/setup.rs
  tests/parser_test.rs
Due: parser

test(parser): replace zipmap fixtures with Redis integration
  tests/fixtures/README.md
  tests/fixtures/zipmap_that_compresses_easily.rdb
  tests/fixtures/zipmap_that_doesnt_compress.rdb
  tests/parser_test.rs
Due: none

test(parser): replace zipmap fixtures with Redis integration (#78)
  tests/fixtures/README.md
  tests/fixtures/zipmap_that_compresses_easily.rdb
  tests/fixtures/zipmap_that_doesnt_compress.rdb
  tests/parser_test.rs
Due: none

chore(release): prepare 0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore(release): prepare 0.2.0 (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: refresh README for 0.2.0
  README.md
  README.zh_CN.md
  docs/USAGE.md
  docs/USAGE.zh_CN.md
Due: none

docs: clarify README TODOs
  README.md
  README.zh_CN.md
Due: none

test: move integration tests into crate
  .github/workflows/publish-test-images.yml
  CONTRIBUTING.md
  CONTRIBUTING.zh_CN.md
  README.md
  README.zh_CN.md
  codecov.yml
  src/integration_tests/clickhouse_test.rs
  src/integration_tests/common/Dockerfile
  src/integration_tests/common/clickhouse.rs
  src/integration_tests/common/mod.rs
  src/integration_tests/common/setup.rs
  src/integration_tests/common/trace.rs
  src/integration_tests/common/utils.rs
  src/integration_tests/delimiter_reader_test.rs
  src/integration_tests/mod.rs
  src/integration_tests/parquet_output_test.rs
  src/integration_tests/parser_test.rs
  src/integration_tests/record_test.rs
  src/integration_tests/report_test.rs
  src/integration_tests/source_file_test.rs
  src/integration_tests/source_standalone_test.rs
  src/lib.rs
  src/output/parquet/mod.rs
  src/output/parquet/path.rs
  src/parser/mod.rs
  src/parser/runtime/combinators.rs
  src/source/codis.rs
  src/source/mod.rs
Due: parser, source

chore(deps): configure weekly Dependabot updates
  .github/dependabot.yml
Due: none

chore(deps): configure weekly Dependabot updates (#81)
  .github/dependabot.yml
Due: none

chore(ci): configure Mergify merge queue
  .mergify.yml
Due: none

chore(ci): 配置 Mergify 合并队列 (#89)
  .mergify.yml
Due: none

chore(ci): queue PRs before required checks pass
  .mergify.yml
Due: none

chore(ci): queue PRs before required checks pass (#90)
  .mergify.yml
Due: none
