Repository DCjanus/rdbinsight: changes, and which Codecov flags are due for each by the changed paths.
All: parser, source, report

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70
    patch: off

ignore:
  - "src/bin/**"
  - "tests/**"
  - "examples/**"
  - "docs/**"

comment:
  layout: "header, diff, flags, components"

github_checks:
  annotations: true 

component_management:
  individual_components:
    - component_id: component_parser
      name: "parser"
      paths:
        - "src/parser/**"
      statuses:
        - type: project
          target: 90
    - component_id: component_source
      name: "source"
      paths:
        - "src/source/**"
      statuses:
        - type: project
          # Temporarily lower coverage target for `source`.
          # TODO: Add testcontainers-based Redis Cluster & Codis integration tests and raise this to 80.
          target: 45
    - component_id: component_report
      name: "report"
      paths:
        - "src/report/**"
      statuses:
        - type: project
          # Temporarily lower coverage target while Parquet output is covered by integration tests.
          # TODO: Add integration tests covering Parquet output and raise this to 75.
          target: 60

chore(changelog): update CHANGELOG with new features for report progress logging and significant prefix discovery
  CHANGELOG.md
Due: none

refactor(parquet): reduce progress reporting interval from 10M to 1M keys for improved feedback
  src/report/parquet.rs
Due: report

refactor(parquet): implement single-pass LCP stack algorithm for top-prefix discovery, enhancing performance and reducing CPU usage
  CHANGELOG.md
  src/report/parquet.rs
Due: report

refactor(parquet): simplify pop_to_depth logic for prefix aggregation and enhance readability
  src/report/parquet.rs
Due: report

chore(changelog): update CHANGELOG to document new features and changes in report generation and performance improvements
  CHANGELOG.md
Due: none

chore(release): bump version to 0.1.0-rc.6 and update CHANGELOG for new features
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

perf(parquet-report): accelerate top-prefix discovery with single-pass LCP stack algorithm (#41)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/bin/rdbinsight.rs
  src/helper.rs
  src/report/parquet.rs
Due: report

fix(clickhouse): improve error handling for expire_at_ms conversion in ClickHouseChunkWriter
  src/output/clickhouse.rs
Due: none

chore(dependencies): update package versions in Cargo.lock and Cargo.toml
  Cargo.lock
  Cargo.toml
  src/output/clickhouse.rs
Due: none

chore(release): bump version to 0.1.0-rc.7 and update CHANGELOG
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore(changelog): update CHANGELOG to reflect addition of `large-dates` feature for `time` crate
  CHANGELOG.md
Due: none

refactor(parser): simplify ParserPhase default implementation
  src/parser/state/combinators/seq.rs
Due: parser

feat(time): enable large-dates for TTL; update deps and harden expire_at conversion (#42)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/output/clickhouse.rs
  src/parser/state/combinators/seq.rs
Due: parser

feat(report): add human-friendly byte-size formatting for report outputs
  CHANGELOG.md
  src/helper.rs
  src/report/parquet.rs
Due: report

feat(report): add human-readable byte-size formatting (#43)
  CHANGELOG.md
  src/helper.rs
  src/report/parquet.rs
Due: report

docs(usage): add bilingual usage guides; update READMEs and unify terminology
  README.md
  README.zh_CN.md
  docs/USAGE.md
  docs/USAGE.zh_CN.md
Due: none

docs(usage): enhance `--require-slave` flag description in usage guides
  docs/USAGE.md
  docs/USAGE.zh_CN.md
  src/bin/rdbinsight.rs
Due: none

docs(usage): clarify `--require-slave` flag behavior in usage documentation
  docs/USAGE.md
  docs/USAGE.zh_CN.md
Due: none

docs(README): add Docker image version badge and note on binary distribution
  README.md
  README.zh_CN.md
Due: none

docs(README): update Docker image availability note in English and Chinese READMEs
  README.md
  README.zh_CN.md
Due: none

docs(README): update Docker image badge label in English and Chinese READMEs
  README.md
  README.zh_CN.md
Due: none

docs(README): add Lines of Code badge to English and Chinese READMEs
  README.md
  README.zh_CN.md
Due: none

docs(README): update Lines of Code badge style in English and Chinese READMEs
  README.md
  README.zh_CN.md
Due: none

docs: Add bilingual usage guides and streamline READMEs (#44)
  README.md
  README.zh_CN.md
  docs/USAGE.md
  docs/USAGE.zh_CN.md
  src/bin/rdbinsight.rs
Due: none

chore(deps): update spire_enum and spire_enum_macros to version 0.7.0 in Cargo.toml and Cargo.lock
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): update spire_enum version from 0.6.0 to 0.7.0 (#45)
  Cargo.lock
  Cargo.toml
Due: none

fix(clickhouse): handle overflow in expire_at_ms conversion and log saturation warnings
  CHANGELOG.md
  src/helper.rs
  src/output/clickhouse.rs
Due: none

chore(release): bump version to 0.1.0-rc.8 and update CHANGELOG
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(clickhouse): handle overflow in expire_at_ms conversion and log saturation warnings (#46)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/helper.rs
  src/output/clickhouse.rs
Due: none

perf(report): reuse prefix scratch buffer
  src/report/parquet.rs
Due: report

feat(report): log scan throughput
  src/report/parquet.rs
Due: report

Revert "perf(report): reuse prefix scratch buffer"
  src/report/parquet.rs
Due: report

chore(changelog): update to include average rows-per-second throughput in progress logs for Parquet report
  CHANGELOG.md
Due: none

feat(report): surface parquet scan throughput (#47)
  CHANGELOG.md
  src/report/parquet.rs
Due: report

feat(report): expand csv exports for keys and prefixes
  CHANGELOG.md
  templates/design.md
  templates/report.html
Due: none

feat(report): expand report CSV exports for keys and prefixes (#48)
  CHANGELOG.md
  templates/design.md
  templates/report.html
Due: none

chore: bump typed-builder
  Cargo.lock
  Cargo.toml
Due: none

docs: note typed-builder bump
  CHANGELOG.md
Due: none

chore: bump typed-builder (#49)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: update retry and clickhouse deps
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/output/clickhouse.rs
  src/source/redis_stream.rs
Due: source
